# --- GLOBAL ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- ENV VARIABLES (Rất quan trọng: Không được public API Key) ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env
frontend/.env

# --- BACKEND (Python) ---
backend/__pycache__/
*.py[cod]
*$py.class
backend/venv/
backend/.venv/
backend/env/

# Database Local (Không up file DB lên git)
backend/database.db

# File upload tạm thời (File PDF user upload)
backend/temp_uploads/

# --- FRONTEND (Node/React) ---
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# --- MISC ---
*.log