.DS_Store
Thumbs.db
.vscode/
.idea/


.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env
frontend/.env


backend/__pycache__/
*.py[cod]
*$py.class
backend/venv/
backend/.venv/
backend/env/

# Database Local (Không up file DB lên git)
backend/database.db

# File upload tạm thời (File PDF user upload)
backend/temp_uploads/


frontend/node_modules/
frontend/dist/
frontend/build/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

*.log
